monitor.json
[
    {
        "id": "3e55d3cc8e46a306",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24512d55df7254c2",
        "type": "ui_chartst",
        "z": "3e55d3cc8e46a306",
        "group": "ef10e6d98546f560",
        "name": "Voltages",
        "order": 1,
        "width": 0,
        "height": 0,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "dbac609cea61ae2c",
        "type": "acquisition out",
        "z": "3e55d3cc8e46a306",
        "name": "St-link_out",
        "probeconfig": "16049f85a2ce68fa",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "4ab6c8da53467698",
        "type": "acquisition in",
        "z": "3e55d3cc8e46a306",
        "name": "St-link_In",
        "probeconfig": "16049f85a2ce68fa",
        "x": 280,
        "y": 400,
        "wires": [
            [
                "e92d33b35a656363"
            ],
            []
        ]
    },
    {
        "id": "c13653ab832ef517",
        "type": "variables",
        "z": "3e55d3cc8e46a306",
        "groupname": "Voltage",
        "accesspoint": 0,
        "execonfig": "dc5e01105b7d66a8",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Buck.Vin",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1758807657677,
        "openStatus": true,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "dbac609cea61ae2c"
            ],
            []
        ],
        "info": "Bloco usado para obter os valores de tensão:\r\n- globalData.halfBridgeVoltage\r\n- globalData.inputVoltage\r\n- globalData.outputVoltage"
    },
    {
        "id": "e92d33b35a656363",
        "type": "processing",
        "z": "3e55d3cc8e46a306",
        "groupname": "Voltage",
        "groupid": "c13653ab832ef517",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "24512d55df7254c2"
            ],
            []
        ]
    },
    {
        "id": "b6f1958964a00c6f",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Start_in",
        "links": [
            "b1429c2fc0831657"
        ],
        "x": 55,
        "y": 260,
        "wires": [
            [
                "c13653ab832ef517"
            ]
        ]
    },
    {
        "id": "3cabac62b9f72861",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Stop_in",
        "links": [
            "5f5ab6e63e884724"
        ],
        "x": 55,
        "y": 320,
        "wires": [
            [
                "c13653ab832ef517"
            ]
        ]
    },
    {
        "id": "9be02f6563697605",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Kd",
        "links": [
            "5afd2cc4d42a43d5"
        ],
        "x": 465,
        "y": 100,
        "wires": [
            [
                "dbac609cea61ae2c"
            ]
        ]
    },
    {
        "id": "e288c722c330e9e9",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Kp",
        "links": [
            "4eb2e2f957118d2a"
        ],
        "x": 465,
        "y": 140,
        "wires": [
            [
                "dbac609cea61ae2c"
            ]
        ]
    },
    {
        "id": "4a8dd359ea3cd8b6",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "SetPoint",
        "links": [
            "8180e3978f234313"
        ],
        "x": 465,
        "y": 180,
        "wires": [
            [
                "dbac609cea61ae2c"
            ]
        ]
    },
    {
        "id": "c4cfcb05a80f453c",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Clear",
        "links": [
            "005a07994bfa5dd1"
        ],
        "x": 705,
        "y": 440,
        "wires": [
            [
                "24512d55df7254c2"
            ]
        ]
    },
    {
        "id": "bc64f1fedd7bba18",
        "type": "comment",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "info": "Configurar os nós:\nVoltage e St-link_out\n\nOlhar a descrição do nó",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "da7c5226e76aff81",
        "type": "ui_slider",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "058264b53baa9c94",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 240,
        "y": 1420,
        "wires": [
            [
                "d0fd2134a754fcb6",
                "79e5d574df6f3607"
            ]
        ]
    },
    {
        "id": "f1a4084fbf123432",
        "type": "change",
        "z": "3e55d3cc8e46a306",
        "name": "set.topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1420,
        "wires": [
            [
                "8180e3978f234313"
            ]
        ]
    },
    {
        "id": "f1b5d78f30831221",
        "type": "inject",
        "z": "3e55d3cc8e46a306",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "value",
        "payload": "0",
        "payloadType": "str",
        "x": 100,
        "y": 1420,
        "wires": [
            [
                "da7c5226e76aff81"
            ]
        ]
    },
    {
        "id": "8180e3978f234313",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "set_setpoint",
        "mode": "link",
        "links": [
            "4a8dd359ea3cd8b6"
        ],
        "x": 935,
        "y": 1420,
        "wires": []
    },
    {
        "id": "79e5d574df6f3607",
        "type": "ui_text",
        "z": "3e55d3cc8e46a306",
        "group": "058264b53baa9c94",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Setpoint Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9c0feab066feb529",
        "type": "template",
        "z": "3e55d3cc8e46a306",
        "name": "write_msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\":[\n        {\n            \"address\": \"{{payload.addr}}\",\n            \"type\": 9,\n            \"value\": \"{{payload.value}}\"\n        }\n    ],\n    \"acesspoint\":0\n}",
        "output": "json",
        "x": 630,
        "y": 1420,
        "wires": [
            [
                "f1a4084fbf123432"
            ]
        ]
    },
    {
        "id": "cd6ee3e415e9efb4",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Setpoint",
        "links": [
            "5fcb3fd93ad46215"
        ],
        "x": 335,
        "y": 1360,
        "wires": [
            [
                "d0fd2134a754fcb6"
            ]
        ]
    },
    {
        "id": "d0fd2134a754fcb6",
        "type": "join",
        "z": "3e55d3cc8e46a306",
        "name": "teste",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 440,
        "y": 1420,
        "wires": [
            [
                "9c0feab066feb529"
            ]
        ]
    },
    {
        "id": "bce848ab8514e4a1",
        "type": "ui_slider",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "label": "Kp",
        "tooltip": "",
        "group": "058264b53baa9c94",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 1640,
        "wires": [
            [
                "ddbd5502782f7b88",
                "1941a960e38643d6"
            ]
        ]
    },
    {
        "id": "e4b6cdc549c5f28e",
        "type": "change",
        "z": "3e55d3cc8e46a306",
        "name": "set.topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1640,
        "wires": [
            [
                "4eb2e2f957118d2a"
            ]
        ]
    },
    {
        "id": "77764f4ebc8d1e29",
        "type": "inject",
        "z": "3e55d3cc8e46a306",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "value",
        "payload": "0",
        "payloadType": "str",
        "x": 100,
        "y": 1640,
        "wires": [
            [
                "bce848ab8514e4a1"
            ]
        ]
    },
    {
        "id": "4eb2e2f957118d2a",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "set_kp",
        "mode": "link",
        "links": [
            "e288c722c330e9e9"
        ],
        "x": 935,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1941a960e38643d6",
        "type": "ui_text",
        "z": "3e55d3cc8e46a306",
        "group": "058264b53baa9c94",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kp Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 1700,
        "wires": []
    },
    {
        "id": "cdec5871646cecbf",
        "type": "template",
        "z": "3e55d3cc8e46a306",
        "name": "write_msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\":[\n        {\n            \"address\": \"{{payload.addr}}\",\n            \"type\": 9,\n            \"value\": \"{{payload.value}}\"\n        }\n    ],\n    \"acesspoint\":0\n}",
        "output": "json",
        "x": 630,
        "y": 1640,
        "wires": [
            [
                "e4b6cdc549c5f28e"
            ]
        ]
    },
    {
        "id": "0e46adf641d2557a",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Kp",
        "links": [
            "1a6dfc49a9bd2b72"
        ],
        "x": 335,
        "y": 1580,
        "wires": [
            [
                "ddbd5502782f7b88"
            ]
        ]
    },
    {
        "id": "ddbd5502782f7b88",
        "type": "join",
        "z": "3e55d3cc8e46a306",
        "name": "teste",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 440,
        "y": 1640,
        "wires": [
            [
                "cdec5871646cecbf"
            ]
        ]
    },
    {
        "id": "567666bad231b484",
        "type": "ui_slider",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "label": "Ki",
        "tooltip": "",
        "group": "058264b53baa9c94",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 1840,
        "wires": [
            [
                "bc43fc503f17db9d",
                "2fb87ed4fd5c576b"
            ]
        ]
    },
    {
        "id": "5f1cd1630f74b921",
        "type": "change",
        "z": "3e55d3cc8e46a306",
        "name": "set.topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1840,
        "wires": [
            [
                "d9e04e40909db4d9"
            ]
        ]
    },
    {
        "id": "3753c1ae3ec525c9",
        "type": "inject",
        "z": "3e55d3cc8e46a306",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "value",
        "payload": "0",
        "payloadType": "str",
        "x": 100,
        "y": 1840,
        "wires": [
            [
                "567666bad231b484"
            ]
        ]
    },
    {
        "id": "d9e04e40909db4d9",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "set_ki",
        "mode": "link",
        "links": [
            "b8701f39448b85bf"
        ],
        "x": 935,
        "y": 1840,
        "wires": []
    },
    {
        "id": "2fb87ed4fd5c576b",
        "type": "ui_text",
        "z": "3e55d3cc8e46a306",
        "group": "058264b53baa9c94",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ki Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 1900,
        "wires": []
    },
    {
        "id": "e4ae81d0282f8733",
        "type": "template",
        "z": "3e55d3cc8e46a306",
        "name": "write_msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\":[\n        {\n            \"address\": \"{{payload.addr}}\",\n            \"type\": 9,\n            \"value\": \"{{payload.value}}\"\n        }\n    ],\n    \"acesspoint\":0\n}",
        "output": "json",
        "x": 630,
        "y": 1840,
        "wires": [
            [
                "5f1cd1630f74b921"
            ]
        ]
    },
    {
        "id": "1c4113cebd16ba96",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Ki",
        "links": [
            "340662b01e2ef3d5"
        ],
        "x": 335,
        "y": 1780,
        "wires": [
            [
                "bc43fc503f17db9d"
            ]
        ]
    },
    {
        "id": "bc43fc503f17db9d",
        "type": "join",
        "z": "3e55d3cc8e46a306",
        "name": "teste",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 440,
        "y": 1840,
        "wires": [
            [
                "e4ae81d0282f8733"
            ]
        ]
    },
    {
        "id": "7215e87714afd855",
        "type": "ui_slider",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "label": "Kd",
        "tooltip": "",
        "group": "058264b53baa9c94",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 2040,
        "wires": [
            [
                "37cdab3431908b27",
                "7a5fdce7511abf2d"
            ]
        ]
    },
    {
        "id": "243b2f8cb1d343c6",
        "type": "change",
        "z": "3e55d3cc8e46a306",
        "name": "set.topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2040,
        "wires": [
            [
                "5afd2cc4d42a43d5"
            ]
        ]
    },
    {
        "id": "69330f9cce8bcedf",
        "type": "inject",
        "z": "3e55d3cc8e46a306",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "value",
        "payload": "0",
        "payloadType": "str",
        "x": 100,
        "y": 2040,
        "wires": [
            [
                "7215e87714afd855"
            ]
        ]
    },
    {
        "id": "5afd2cc4d42a43d5",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "SetPoint",
        "mode": "link",
        "links": [
            "9be02f6563697605"
        ],
        "x": 935,
        "y": 2040,
        "wires": []
    },
    {
        "id": "7a5fdce7511abf2d",
        "type": "ui_text",
        "z": "3e55d3cc8e46a306",
        "group": "058264b53baa9c94",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kd Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 2100,
        "wires": []
    },
    {
        "id": "e95ab02ca3030b8a",
        "type": "template",
        "z": "3e55d3cc8e46a306",
        "name": "write_msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\":[\n        {\n            \"address\": \"{{payload.addr}}\",\n            \"type\": 9,\n            \"value\": \"{{payload.value}}\"\n        }\n    ],\n    \"acesspoint\":0\n}",
        "output": "json",
        "x": 630,
        "y": 2040,
        "wires": [
            [
                "243b2f8cb1d343c6"
            ]
        ]
    },
    {
        "id": "d198a8288d222280",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Kd",
        "links": [
            "ccc1cb83505b329d"
        ],
        "x": 335,
        "y": 1980,
        "wires": [
            [
                "37cdab3431908b27"
            ]
        ]
    },
    {
        "id": "37cdab3431908b27",
        "type": "join",
        "z": "3e55d3cc8e46a306",
        "name": "teste",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 440,
        "y": 2040,
        "wires": [
            [
                "e95ab02ca3030b8a"
            ]
        ]
    },
    {
        "id": "9e17f05535de5e82",
        "type": "acquisition out",
        "z": "3e55d3cc8e46a306",
        "name": "St-link_out1",
        "probeconfig": "16049f85a2ce68fa",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "80af879d1d4527bb",
        "type": "variables",
        "z": "3e55d3cc8e46a306",
        "groupname": "Values",
        "accesspoint": 0,
        "execonfig": "bc9798bd84829e3b",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "pid.Kd",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1758807662812,
        "openStatus": true,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "9e17f05535de5e82",
                "76387ac2804ace47",
                "c9e19d02b65f7f75",
                "6af67f86e7857c9d",
                "9ec48a837952ed0c"
            ],
            []
        ],
        "info": "Bloco usado para obter os valores dos estados:\r\n- globalData.command\r\n- globalData.currentState\r\n- globalData.errorStatus"
    },
    {
        "id": "ecc50217d0534d29",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Start_in1",
        "links": [
            "b1429c2fc0831657"
        ],
        "x": 75,
        "y": 760,
        "wires": [
            [
                "80af879d1d4527bb"
            ]
        ]
    },
    {
        "id": "f57ce28b4ff36bc9",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Stop_in1",
        "links": [
            "5f5ab6e63e884724"
        ],
        "x": 75,
        "y": 820,
        "wires": [
            [
                "80af879d1d4527bb"
            ]
        ]
    },
    {
        "id": "76387ac2804ace47",
        "type": "function",
        "z": "3e55d3cc8e46a306",
        "name": "Address Extract",
        "func": "var nome_variavel = \"pid.Kp\";\nvar variaveis = msg.payload.variablelist;\n\nfor (var i = 0; i < variaveis.length; i++) {\n    if (variaveis[i].name === nome_variavel) {\n        msg.payload = variaveis[i].address;\n        break;\n    }\n}\n\nvar jsn = {\n    \"topic\":\"addr\",\n    \"payload\": msg.payload\n}\nreturn jsn;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "1a6dfc49a9bd2b72"
            ]
        ]
    },
    {
        "id": "1a6dfc49a9bd2b72",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Addr_Kp",
        "mode": "link",
        "links": [
            "0e46adf641d2557a"
        ],
        "x": 685,
        "y": 720,
        "wires": []
    },
    {
        "id": "5fcb3fd93ad46215",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Addr_setpoint",
        "mode": "link",
        "links": [
            "cd6ee3e415e9efb4"
        ],
        "x": 685,
        "y": 660,
        "wires": []
    },
    {
        "id": "c9e19d02b65f7f75",
        "type": "function",
        "z": "3e55d3cc8e46a306",
        "name": "Address Extract",
        "func": "var nome_variavel = \"Buck.setPoint\";\nvar variaveis = msg.payload.variablelist;\n\nfor (var i = 0; i < variaveis.length; i++) {\n    if (variaveis[i].name === nome_variavel) {\n        msg.payload = variaveis[i].address;\n        break;\n    }\n}\n\nvar jsn = {\n    \"topic\":\"addr\",\n    \"payload\": msg.payload\n}\nreturn jsn;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "5fcb3fd93ad46215"
            ]
        ]
    },
    {
        "id": "a735317eeba35b3c",
        "type": "comment",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "info": "Configurar os nós:\nStates e St-link_out1\n\nOlhar a descrição do nó",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "7521b524e07cb6fc",
        "type": "ui_button",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "group": "058264b53baa9c94",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 90,
        "y": 1080,
        "wires": [
            [
                "005a07994bfa5dd1"
            ]
        ]
    },
    {
        "id": "2f848cf28b26a580",
        "type": "ui_button",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "group": "058264b53baa9c94",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 110,
        "y": 1140,
        "wires": [
            [
                "b1429c2fc0831657"
            ]
        ]
    },
    {
        "id": "3b1e947c3c72c820",
        "type": "ui_button",
        "z": "3e55d3cc8e46a306",
        "name": "",
        "group": "058264b53baa9c94",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 110,
        "y": 1220,
        "wires": [
            [
                "5f5ab6e63e884724"
            ]
        ]
    },
    {
        "id": "b1429c2fc0831657",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Start",
        "mode": "link",
        "links": [
            "b6f1958964a00c6f",
            "ecc50217d0534d29"
        ],
        "x": 295,
        "y": 1140,
        "wires": []
    },
    {
        "id": "5f5ab6e63e884724",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Stop",
        "mode": "link",
        "links": [
            "f57ce28b4ff36bc9",
            "3cabac62b9f72861"
        ],
        "x": 295,
        "y": 1220,
        "wires": []
    },
    {
        "id": "005a07994bfa5dd1",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Clear",
        "mode": "link",
        "links": [
            "c4cfcb05a80f453c",
            "2333e3f967babd4e",
            "feafb69b8c688f47"
        ],
        "x": 295,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6af67f86e7857c9d",
        "type": "function",
        "z": "3e55d3cc8e46a306",
        "name": "Address Extract",
        "func": "var nome_variavel = \"pid.Ki\";\nvar variaveis = msg.payload.variablelist;\n\nfor (var i = 0; i < variaveis.length; i++) {\n    if (variaveis[i].name === nome_variavel) {\n        msg.payload = variaveis[i].address;\n        break;\n    }\n}\n\nvar jsn = {\n    \"topic\":\"addr\",\n    \"payload\": msg.payload\n}\nreturn jsn;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 780,
        "wires": [
            [
                "340662b01e2ef3d5"
            ]
        ]
    },
    {
        "id": "340662b01e2ef3d5",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Addr_Ki",
        "mode": "link",
        "links": [
            "1c4113cebd16ba96"
        ],
        "x": 685,
        "y": 780,
        "wires": []
    },
    {
        "id": "9ec48a837952ed0c",
        "type": "function",
        "z": "3e55d3cc8e46a306",
        "name": "Address Extract",
        "func": "var nome_variavel = \"pid.Kd\";\nvar variaveis = msg.payload.variablelist;\n\nfor (var i = 0; i < variaveis.length; i++) {\n    if (variaveis[i].name === nome_variavel) {\n        msg.payload = variaveis[i].address;\n        break;\n    }\n}\n\nvar jsn = {\n    \"topic\":\"addr\",\n    \"payload\": msg.payload\n}\nreturn jsn;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 840,
        "wires": [
            [
                "ccc1cb83505b329d"
            ]
        ]
    },
    {
        "id": "ccc1cb83505b329d",
        "type": "link out",
        "z": "3e55d3cc8e46a306",
        "name": "Addr_Kd",
        "mode": "link",
        "links": [
            "d198a8288d222280"
        ],
        "x": 685,
        "y": 840,
        "wires": []
    },
    {
        "id": "b8701f39448b85bf",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Ki",
        "links": [
            "d9e04e40909db4d9"
        ],
        "x": 465,
        "y": 60,
        "wires": [
            [
                "dbac609cea61ae2c"
            ]
        ]
    },
    {
        "id": "628049250983ada9",
        "type": "ui_chartst",
        "z": "3e55d3cc8e46a306",
        "group": "8757641998e6dcb6",
        "name": "Voltages",
        "order": 1,
        "width": 0,
        "height": 0,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1080,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d0c63d26bca1f8bc",
        "type": "acquisition in",
        "z": "3e55d3cc8e46a306",
        "name": "St-link_In",
        "probeconfig": "16049f85a2ce68fa",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "7debf59ab1ea9377"
            ],
            []
        ]
    },
    {
        "id": "7debf59ab1ea9377",
        "type": "processing",
        "z": "3e55d3cc8e46a306",
        "groupname": "Values",
        "groupid": "80af879d1d4527bb",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 750,
        "y": 1080,
        "wires": [
            [
                "628049250983ada9"
            ],
            []
        ]
    },
    {
        "id": "feafb69b8c688f47",
        "type": "link in",
        "z": "3e55d3cc8e46a306",
        "name": "Clear",
        "links": [
            "005a07994bfa5dd1"
        ],
        "x": 945,
        "y": 1120,
        "wires": [
            [
                "628049250983ada9"
            ]
        ]
    },
    {
        "id": "ef10e6d98546f560",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16049f85a2ce68fa",
        "type": "probe",
        "probeid": "066BFF484971754867103133",
        "probename": "ST-Link v2-1B 066BFF484971754867103133",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J46",
        "connectionType": "p2p",
        "nickname": "F303"
    },
    {
        "id": "dc5e01105b7d66a8",
        "type": "exe-config",
        "name": "Buck_control",
        "exefile": "C:\\Users\\caiom\\FW_Imago\\Buck_control\\Debug\\Buck_control.elf",
        "exefolder": "C:\\Users\\caiom\\FW_Imago\\Buck_control\\Debug",
        "exevariablelist": [
            {
                "address": "0x08004fbc",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08004fc6",
                "name": "AHBPrescTable[10]",
                "type": 1
            },
            {
                "address": "0x08004fc7",
                "name": "AHBPrescTable[11]",
                "type": 1
            },
            {
                "address": "0x08004fc8",
                "name": "AHBPrescTable[12]",
                "type": 1
            },
            {
                "address": "0x08004fc9",
                "name": "AHBPrescTable[13]",
                "type": 1
            },
            {
                "address": "0x08004fca",
                "name": "AHBPrescTable[14]",
                "type": 1
            },
            {
                "address": "0x08004fcb",
                "name": "AHBPrescTable[15]",
                "type": 1
            },
            {
                "address": "0x08004fbd",
                "name": "AHBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08004fbe",
                "name": "AHBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08004fbf",
                "name": "AHBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08004fc0",
                "name": "AHBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08004fc1",
                "name": "AHBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08004fc2",
                "name": "AHBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08004fc3",
                "name": "AHBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x08004fc4",
                "name": "AHBPrescTable[8]",
                "type": 1
            },
            {
                "address": "0x08004fc5",
                "name": "AHBPrescTable[9]",
                "type": 1
            },
            {
                "address": "0x08004fcc",
                "name": "aPLLMULFactorTable[0]",
                "type": 1
            },
            {
                "address": "0x08004fd6",
                "name": "aPLLMULFactorTable[10]",
                "type": 1
            },
            {
                "address": "0x08004fd7",
                "name": "aPLLMULFactorTable[11]",
                "type": 1
            },
            {
                "address": "0x08004fd8",
                "name": "aPLLMULFactorTable[12]",
                "type": 1
            },
            {
                "address": "0x08004fd9",
                "name": "aPLLMULFactorTable[13]",
                "type": 1
            },
            {
                "address": "0x08004fda",
                "name": "aPLLMULFactorTable[14]",
                "type": 1
            },
            {
                "address": "0x08004fdb",
                "name": "aPLLMULFactorTable[15]",
                "type": 1
            },
            {
                "address": "0x08004fcd",
                "name": "aPLLMULFactorTable[1]",
                "type": 1
            },
            {
                "address": "0x08004fce",
                "name": "aPLLMULFactorTable[2]",
                "type": 1
            },
            {
                "address": "0x08004fcf",
                "name": "aPLLMULFactorTable[3]",
                "type": 1
            },
            {
                "address": "0x08004fd0",
                "name": "aPLLMULFactorTable[4]",
                "type": 1
            },
            {
                "address": "0x08004fd1",
                "name": "aPLLMULFactorTable[5]",
                "type": 1
            },
            {
                "address": "0x08004fd2",
                "name": "aPLLMULFactorTable[6]",
                "type": 1
            },
            {
                "address": "0x08004fd3",
                "name": "aPLLMULFactorTable[7]",
                "type": 1
            },
            {
                "address": "0x08004fd4",
                "name": "aPLLMULFactorTable[8]",
                "type": 1
            },
            {
                "address": "0x08004fd5",
                "name": "aPLLMULFactorTable[9]",
                "type": 1
            },
            {
                "address": "0x08004fdc",
                "name": "aPredivFactorTable[0]",
                "type": 1
            },
            {
                "address": "0x08004fe6",
                "name": "aPredivFactorTable[10]",
                "type": 1
            },
            {
                "address": "0x08004fe7",
                "name": "aPredivFactorTable[11]",
                "type": 1
            },
            {
                "address": "0x08004fe8",
                "name": "aPredivFactorTable[12]",
                "type": 1
            },
            {
                "address": "0x08004fe9",
                "name": "aPredivFactorTable[13]",
                "type": 1
            },
            {
                "address": "0x08004fea",
                "name": "aPredivFactorTable[14]",
                "type": 1
            },
            {
                "address": "0x08004feb",
                "name": "aPredivFactorTable[15]",
                "type": 1
            },
            {
                "address": "0x08004fdd",
                "name": "aPredivFactorTable[1]",
                "type": 1
            },
            {
                "address": "0x08004fde",
                "name": "aPredivFactorTable[2]",
                "type": 1
            },
            {
                "address": "0x08004fdf",
                "name": "aPredivFactorTable[3]",
                "type": 1
            },
            {
                "address": "0x08004fe0",
                "name": "aPredivFactorTable[4]",
                "type": 1
            },
            {
                "address": "0x08004fe1",
                "name": "aPredivFactorTable[5]",
                "type": 1
            },
            {
                "address": "0x08004fe2",
                "name": "aPredivFactorTable[6]",
                "type": 1
            },
            {
                "address": "0x08004fe3",
                "name": "aPredivFactorTable[7]",
                "type": 1
            },
            {
                "address": "0x08004fe4",
                "name": "aPredivFactorTable[8]",
                "type": 1
            },
            {
                "address": "0x08004fe5",
                "name": "aPredivFactorTable[9]",
                "type": 1
            },
            {
                "address": "0x20000148",
                "name": "Buck.setPoint",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000140",
                "name": "Buck.Vin",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000144",
                "name": "Buck.Vout",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000154",
                "name": "dutyCycle",
                "type": 9
            },
            {
                "address": "0x20000060",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000041",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000009c",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x20000099",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x200000ac",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000100",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000101",
                "name": "htim3.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x20000102",
                "name": "htim3.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x20000103",
                "name": "htim3.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x200000fa",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000fb",
                "name": "htim3.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x200000fc",
                "name": "htim3.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x200000fd",
                "name": "htim3.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x200000fe",
                "name": "htim3.ChannelState[4]",
                "type": 2
            },
            {
                "address": "0x200000ff",
                "name": "htim3.ChannelState[5]",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000dc",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "htim3.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "htim3.hdma[2]",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim3.hdma[3]",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim3.hdma[4]",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "htim3.hdma[5]",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "htim3.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200000f9",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x2000014c",
                "name": "internalAdcRawData[0]",
                "type": 3
            },
            {
                "address": "0x2000014e",
                "name": "internalAdcRawData[1]",
                "type": 3
            },
            {
                "address": "0x20000150",
                "name": "internalAdcRawData[2]",
                "type": 3
            },
            {
                "address": "0x20000152",
                "name": "internalAdcRawData[3]",
                "type": 3
            },
            {
                "address": "0x2000013c",
                "name": "pid.command_prev",
                "type": 9
            },
            {
                "address": "0x20000138",
                "name": "pid.command_sat_prev",
                "type": 9
            },
            {
                "address": "0x20000134",
                "name": "pid.deriv_prev",
                "type": 9
            },
            {
                "address": "0x20000130",
                "name": "pid.err_prev",
                "type": 9
            },
            {
                "address": "0x2000012c",
                "name": "pid.integral",
                "type": 9
            },
            {
                "address": "0x20000114",
                "name": "pid.Kaw",
                "type": 9
            },
            {
                "address": "0x20000110",
                "name": "pid.Kd",
                "type": 9
            },
            {
                "address": "0x2000010c",
                "name": "pid.Ki",
                "type": 9
            },
            {
                "address": "0x20000108",
                "name": "pid.Kp",
                "type": 9
            },
            {
                "address": "0x20000120",
                "name": "pid.max",
                "type": 9
            },
            {
                "address": "0x20000128",
                "name": "pid.max_rate",
                "type": 9
            },
            {
                "address": "0x20000124",
                "name": "pid.min",
                "type": 9
            },
            {
                "address": "0x2000011c",
                "name": "pid.T",
                "type": 9
            },
            {
                "address": "0x20000118",
                "name": "pid.T_C",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": true,
        "filename": "Buck_control.elf",
        "exeModifiedTime": 1758807092648,
        "configLastUpdate": 1758807523667
    },
    {
        "id": "058264b53baa9c94",
        "type": "ui_group",
        "name": "Interface",
        "tab": "17d09b07.741a55",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc9798bd84829e3b",
        "type": "exe-config",
        "name": "Buck_values",
        "exefile": "C:\\Users\\caiom\\FW_Imago\\Buck_control\\Debug\\Buck_control.elf",
        "exefolder": "C:\\Users\\caiom\\FW_Imago\\Buck_control\\Debug",
        "exevariablelist": [
            {
                "address": "0x08004fbc",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08004fcc",
                "name": "aPLLMULFactorTable[0]",
                "type": 1
            },
            {
                "address": "0x08004fdc",
                "name": "aPredivFactorTable[0]",
                "type": 1
            },
            {
                "address": "0x20000148",
                "name": "Buck.setPoint",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000140",
                "name": "Buck.Vin",
                "type": 9
            },
            {
                "address": "0x20000144",
                "name": "Buck.Vout",
                "type": 9
            },
            {
                "address": "0x20000154",
                "name": "dutyCycle",
                "type": 9
            },
            {
                "address": "0x20000060",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000041",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.LowPowerAutoWait",
                "type": 2
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.Overrun",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "hadc1.InjectionConfig.ChannelCount",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.InjectionConfig.ContextQueue",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000068",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hdma_adc1.ChannelIndex",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "hdma_adc1.DmaBaseAddress",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000009c",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x20000099",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x200000ac",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000100",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000fa",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000104",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000dc",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200000f9",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x2000014c",
                "name": "internalAdcRawData[0]",
                "type": 3
            },
            {
                "address": "0x2000013c",
                "name": "pid.command_prev",
                "type": 9
            },
            {
                "address": "0x20000138",
                "name": "pid.command_sat_prev",
                "type": 9
            },
            {
                "address": "0x20000134",
                "name": "pid.deriv_prev",
                "type": 9
            },
            {
                "address": "0x20000130",
                "name": "pid.err_prev",
                "type": 9
            },
            {
                "address": "0x2000012c",
                "name": "pid.integral",
                "type": 9
            },
            {
                "address": "0x20000114",
                "name": "pid.Kaw",
                "type": 9
            },
            {
                "address": "0x20000110",
                "name": "pid.Kd",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000010c",
                "name": "pid.Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000108",
                "name": "pid.Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000120",
                "name": "pid.max",
                "type": 9
            },
            {
                "address": "0x20000128",
                "name": "pid.max_rate",
                "type": 9
            },
            {
                "address": "0x20000124",
                "name": "pid.min",
                "type": 9
            },
            {
                "address": "0x2000011c",
                "name": "pid.T",
                "type": 9
            },
            {
                "address": "0x20000118",
                "name": "pid.T_C",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "Buck_control.elf",
        "exeModifiedTime": 1758807092648,
        "configLastUpdate": 1758807492234
    },
    {
        "id": "8757641998e6dcb6",
        "type": "ui_group",
        "name": "Values",
        "tab": "17d09b07.741a55",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]